<html>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<head>
		<title>Table Data</title>
		<link rel="stylesheet" href="/public/assets/admin/adminstyle.css">
	</head>
	<body>
		<% for (var i = 0; i < data.length; i++) { %>
			<div class="element">
				<div class="profile">
					<div class="photo"><img src="https://avatars.dicebear.com/v2/avataaars/<%= data[i].emailId %>.svg" /></div>
					<div class="content">
						<div class="text">
							<h3><%= data[i].userName %></h3>
							<h6><%= data[i].emailId %></h6>
						</div>
						<div class="btn">
							<div class="circle_loader"></div>
							<img src="/public/img/del.svg" />
						</div>
					</div>
				</div>
			</div>
		<% } %>
		<script src='https://code.jquery.com/jquery-3.4.0.min.js'></script>
		<script src="/public/assets/admin/adminscript.js"></script>
	</body>
</html>