<html>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<head>
		<title>Table Data</title>
		<link rel="stylesheet" href="/public/assets/admin/adminstyle.css">
	</head>
	<body>
		<div class="element">
			<div class="profile">
				<div class="photo"><img src="https://avatars.dicebear.com/v2/avataaars/PRO.svg" /></div>
				<div class="content">
					<div class="text">
						<h3>Kelly Chen</h3>
						<h6>Front-end Web Designer</h6>
					</div>
					<div class="btn">
						<div class="circle_loader"></div>
						<img src="del.svg" />
					</div>
				</div>
			</div>
		</div>
		<script src='https://code.jquery.com/jquery-3.4.0.min.js'></script>
		<script src="/public/assets/admin/adminscript.js"></script>
	</body>
</html>