@import 'https://fonts.googleapis.com/css?family=Raleway';
* {
  outline: none;
  user-select: none;
}

body,
html {
  margin: 0;
  background-color: #fff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='30' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%23f5f5f5' stroke-width='10' %3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
  color: #7a7b7c;
  overflow-x: hidden;
  overflow-y: hidden;
  padding-bottom: 50px;
}

body {
  font-family: "Raleway", "Microsoft JhengHei", Arial, sans-serif;
}

.container {
  width: 100%;
  margin-top: 50px;
}

.element {
  position: relative;
  width: 430px;
  height: 140px;
  float: left;
  transition: all 0.5s;
}

.profile {
  position: absolute;
  width: 330px;
  height: 100px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  background-color: #fafafa;
  box-shadow: 0 0 2rem #babbbc;
  animation: show-profile 0.5s forwards ease-in-out;
}

@keyframes show-profile {
  0% {
    width: 0;
  }
}

@keyframes hide-profile {
  100% {
    width: 0;
  }
}

@keyframes hide-card {
  100% {
    width: 0;
    height: 0;
  }
}

.profile .photo,
.profile .content {
  box-sizing: border-box;
}

.profile .photo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  border: 5px solid #fafafa;
  background-color: #fafafa;
  margin-left: -50px;
  box-shadow: 0 0 0.5rem #babbbc;
  animation: rotate-photo 0.5s forwards ease-in-out;
  ;
}

@keyframes rotate-photo {
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes rotate-photo-reverse {
  100% {
    transform: rotate(360deg);
  }
}

.profile .photo img {
  width: 100%;
}

.profile .content {
  padding: 10px;
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.profile .content::before {
  content: "";
  position: absolute;
  width: 230px;
  height: 150px;
  background-color: #e9f3e6;
  left: 0;
  top: -20px;
  z-index: -1;
  transform: rotate(-8deg);
}

.profile .content .text {
  margin-top: 12px;
  margin-left: 50px;
}

.profile .content .text h3,
.profile .content .text h6 {
  font-weight: normal;
  margin: 3px 0;
  letter-spacing: 0.5px;
  white-space: nowrap;
}

.profile .content .btn {
  width: 50px;
  height: 50px;
  position: absolute;
  right: 25px;
  top: 25px;
  border-radius: 50%;
  z-index: 1;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  transition-duration: 0.3s;
  animation: pop-btn 0.3s both ease-in-out 0.5s;
}

@keyframes pop-btn {
  0% {
    transform: scale(0);
  }
  80% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes popout-btn {
  100% {
    transform: scale(0);
  }
  20% {
    transform: scale(1.2);
  }
  0% {
    transform: scale(1);
  }
}

.profile .content .btn:hover {
  box-shadow: 0 0 0 2px rgba(170, 187, 204, 0.5);
}

.profile .content .btn img {
  position: absolute;
  width: 50%;
  height: 50%;
  top: 0;
  left: 0;
  margin-left: 25.5%;
  margin-top: 24.5%;
}

.profile .content .btn .circle_loader {
  position: absolute;
  width: 100%;
  height: 100%;
  top: -2px;
  left: -2px;
  border: 2px solid transparent;
  border-color: transparent;
  border-radius: 50%;
}

.animation {
  animation: 0.5s linear rotate, 0.8s linear color;
  animation-fill-mode: forwards;
}

.animation_circle {
  animation: 1s linear anim_circle;
  animation-fill-mode: forwards;
}

@keyframes color {
  0% {
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    border-top-color: transparent;
  }
  20% {
    border-bottom-color: #ff4e31;
    border-left-color: transparent;
    border-right-color: transparent;
    border-top-color: transparent;
  }
  30% {
    border-bottom-color: #ff4e31;
    border-left-color: #ff4e31;
    border-right-color: transparent;
    border-top-color: transparent;
  }
  40% {
    border-bottom-color: #ff4e31;
    border-left-color: #ff4e31;
    border-right-color: transparent;
    border-top-color: #ff4e31;
  }
  50% {
    border-bottom-color: #ff4e31;
    border-left-color: #ff4e31;
    border-right-color: #ff4e31;
    border-top-color: #ff4e31;
  }
  100% {
    border-bottom-color: #ff4e31;
    border-left-color: #ff4e31;
    border-right-color: #ff4e31;
    border-top-color: #ff4e31;
  }
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
